<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
   
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Procurar Produto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/add">Adicionar Produto</a>
        </li>
      </ul>
    </div>
  </nav>